@use "../../../colors" as *;

.logo-container {
    z-index: 1;
    width: 550px;
    position: absolute;
    top: 8%;
    right: 14%;
    bottom: 0;
    left: auto;
    margin: auto;
    opacity: 1;
    transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
    animation-delay: 6s;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

svg {
    width: 100%;
    height: auto;
    bottom: 0;
    //transform: rotateZ(30deg) !important;
}
.logo-2 {
    position:absolute;
    top: 3%;
    left: -10%;
}

.solid-logo {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
    margin: auto;
    width: 100%;
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 5s;
    animation-delay: 5s;
    // z-index: 1;
}

.svg-container {
    stroke: $secondary;
    stroke-width: 3px;
    opacity: 0.5;
    animation: fadeout 10s;
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/*=== FADE IN  ===*/
@-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }