@use "../../../colors" as *;

.non-mobile {
    height: 100%;
    width: 100%;
    .logo-container {
        z-index: 1;
        height: 90%;
        width: 100%;
        margin: 0;
        opacity: 1;
        transform: translatey(0px);
        animation: float 6s ease-in-out infinite;
        animation-delay: 5s;
    }

    @keyframes float {
        0% {
            transform: translatey(0px);
        }
        50% {
            transform: translatey(-20px);
        }
        100% {
            transform: translatey(0px);
        }
    }

    .logo-outline {
        height: auto;
        width: min(40vw,557px);
        position: absolute;
        top: 8%;
        left: 55%;
        bottom: 0;
        margin: auto;
        //transform: rotateZ(30deg) !important;
    }

    .solid-logo {
        width: min(40vw,557px);
        position: absolute;
        top: 8%;
        left: 55%;
        bottom: 0;
        margin: auto;
        opacity: 0;
        animation: fadeIn ease 5s forwards;
        animation-delay: 5s;
        user-drag: none; 
        -webkit-user-drag: none;
        -ms-user-select: none;
        // z-index: 1;
    }

    .svg-container {
        stroke: #76ff8d44;
        stroke-width: 3px;
        animation: fadeOut 5s forwards;
        animation-delay: 4s;
    }

    @keyframes fadeout
    {

    from{opacity: 1;}
    to {opacity: 0;}

    }
}